.signup-container {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #006c8e, #47c1c0);
  padding: 10px;
}

#signup-panel {
  max-width: 555px;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.5);
}
